

 <div class="row">
   <h3><%= @user.username %></h3>

   <div class="col-md-8 col-md-offset-2">

     <% @user.photos.each do |photo| %>
     <div class="panel panel-default">
       <div class="panel-heading">
         <h3 class="panel-title"><%= photo.user.username %></h3>
         <small>
           <%= time_ago_in_words(photo.created_at) %> ago
         </small>
       </div>

       <div class="panel-body">
         <img src="<%= photo.image %>" class="img-responsive">
       </div>

       <td>
         <a href="/photos/<%= photo.id %>" class="btn btn-primary">Show</a>

         <% if current_user.id == photo.user_id %>
         <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">Edit</a>
         <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
         <% end %>
       </td>

       <p>
         <% if photo.likes.find_by(:user_id => current_user.id) == nil %>
         <form action="/create_like" method="post">
           <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
           <input name="photo_id" value="<%= photo.id %>" type="hidden">
           <input name="user_id" value="<%= current_user.id %>" type="hidden">
           <button class="btn btn-link">
             <i class="fa fa-heart-o"></i>
           </button>

         </form>
         <% else %>
         <a href="/delete_like/<%= photo.likes.find_by(:user_id => current_user.id).id %>"<i class="fa fa-heart"></i></a>
         <% end %>
       </p>

       <% photo.comments.each do |comment| %>
       <ul class="media-list">

         <li class="media">
           <div class="media-body">
             <h4 class="media-heading">
               <a href="/users/<%= photo.user_id %>"><%= comment.user.username %></a>
             </h4>
             <p><%= comment.body %></p>
             <small><%= time_ago_in_words(comment.created_at) %> ago
             </small>
             <% end %>

             <form action="/create_comment" method="post">

               <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
               <input type="hidden" name="photo_id" value="<%= photo.id %>">
               <input type="hidden" name="user_id" value="<%= current_user.id %>">
               <div class="form-group">

                 <label for="body" class="sr-only">Body</label>

                 <div class="input-group">
                   <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>
                   <span class="input-group-btn">
                     <button class="btn btn-default" type="submit">
                       <i class="fa fa-commenting-o"></i>
                     </button>
                   </span>
                 </div>

               </div>

             </form>

           </div>

         </form>




       </div>
     </li>
   </ul>


 </div>

 <% end %>



 </div>
