<div class="container">
  <div class="row">
    <div class="col-sm-3">

      <div class="sidebar-nav">
        <div class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <span class="visible-xs navbar-brand">Sidebar menu</span>
          </div>

          <div class="navbar-collapse collapse sidebar-navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><h4>Jason Has Fun</h4></li>


              <li>
                <a href="/photos">
                  <i class="fa fa-fw fa-file-photo-o"></i>
                  <span class="hidden-sm">
                    Photos
                  </span>
                </a>
              </li>

              <li>
                <a href="/writings">
                  <i class="fa fa-fw fa-file-text-o"></i>
                  <span class="hidden-sm">
                    Words
                  </span></a>
                </li>

                <li>
                  <a href="/inmails/new">
                    <i class="fa fa-fw fa-hand-peace-o"></i>
                    <span class="hidden-sm">
                      Contact
                    </span>
                  </a>
                </li>

                <li>
                  <a href="/writings">
                    <i class="fa fa-fw fa-angle-left"></i>
                    <span class="hidden-sm">
                      Back
                    </span>
                  </a>
                </li>

                <% if current_user.present? %>
                <li>
                  <a href="/users/edit">
                    <i class="fa fa-fw fa-edit"></i>
                    <%= current_user.username %>
                  </a>
                </li>
                <li>
                  <a href="/users/sign_out" data-method="delete" rel="nofollow">
                    <i class="fa fa-fw fa-sign-out"></i>
                    Sign Out
                  </a>
                </li>
                <% else %>
                <li>
                  <a href="/users/sign_in">
                    Sign In
                  </a>
                </li>
                <li>
                  <a href="/users/sign_up">
                    Sign Up
                  </a>
                </li>
                <% end %>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>



      <div class="col-sm-9">

        <% if current_user.present? %>

        <a href="/photos/new" class="btn btn-default btn-block"><i class="fa fa-plus"></i></a>
        <br><br>

        <% end %>

        <% @photos.each do |photo| %>

        <div class="testphoto">
          <img src="<%= photo.image %>" class="img-responsive">
          <div class="middle">
            <div class="text">  <%= photo.caption %> </div>
          </div>
        </div>


        <td>
          <% if current_user.present? %>
          <div class="photoactions">

          <a href="/photos/<%= photo.id %>">Info</a>
          <a href="/photos/<%= photo.id %>/edit">Edit</a>
          <a href="/delete_photo/<%= photo.id %>"rel="nofollow">Delete</a>
        </div>

          <% end %>
          <br><br>
        </td>

        <% end %>

      </div>
    </div>
