<div class="page-header">
  <h3>Writingcomment #<%= @writingcomment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Writing</dt>
      <dd><%= @writingcomment.writing_id %></dd>

      <dt>Body</dt>
      <dd><%= @writingcomment.body %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/writingcomments" class="btn btn-primary">
        Back
      </a>
      <a href="/writingcomments/<%= @writingcomment.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_writingcomment/<%= @writingcomment.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
